<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Patriot Memory</key>
	<string>1</string>
	<key>ABShowDebugMenu</key>
	<true/>
	<key>AKDeviceUnlockState</key>
	<true/>
	<key>AKLastCheckInAttemptDate</key>
	<date>2019-12-07T01:33:18Z</date>
	<key>AKLastCheckInSuccessDate</key>
	<date>2019-12-07T01:33:19Z</date>
	<key>AKLastEmailListRequestDateKey</key>
	<date>2021-07-24T07:38:26Z</date>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>ASIX Elec. Corp. AX88179</key>
	<string>1</string>
	<key>Apple Inc. iPhone</key>
	<string>1</string>
	<key>AppleAccentColor</key>
	<integer>-1</integer>
	<key>AppleActionOnDoubleClick</key>
	<string>Minimize</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>8</integer>
	<key>AppleAquaColorVariant</key>
	<integer>6</integer>
	<key>AppleEnableMenuBarTransparency</key>
	<false/>
	<key>AppleEnableMouseSwipeNavigateWithScrolls</key>
	<false/>
	<key>AppleEnableSwipeNavigateWithScrolls</key>
	<false/>
	<key>AppleHighlightColor</key>
	<string>1.000000 0.874510 0.701961 Orange</string>
	<key>AppleICUForce24HourTime</key>
	<true/>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleInterfaceTheme</key>
	<string>Dark</string>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>11.5</string>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>2000</integer>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<true/>
	<key>AppleReduceDesktopTinting</key>
	<true/>
	<key>AppleScrollBarVariant</key>
	<string>Single</string>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Automatic</string>
	<key>AppleSpacesSwitchOnActivate</key>
	<false/>
	<key>AppleTemperatureUnit</key>
	<string>Fahrenheit</string>
	<key>AppleTextDirection</key>
	<false/>
	<key>AppleUseCoreUI</key>
	<true/>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Asmedia ASM107x</key>
	<string>1</string>
	<key>AutoUpgradeCheck</key>
	<true/>
	<key>AutomaticallyCheckForNewVersions</key>
	<true/>
	<key>Beats Electronics BeatsX</key>
	<string>1</string>
	<key>CGContextHighlight2xScaledImages</key>
	<false/>
	<key>CGLDefaultGammaLevel</key>
	<real>0.0</real>
	<key>CGLPowerLevelKey</key>
	<real>1400996224</real>
	<key>CalUIUseSystemHighlightColorForToday</key>
	<true/>
	<key>Canon D1300 Series</key>
	<string>1</string>
	<key>Canon iR1435</key>
	<string>1</string>
	<key>Check For Updates</key>
	<true/>
	<key>CheckSpellingWhileTyping</key>
	<true/>
	<key>CheckUpdate</key>
	<true/>
	<key>ChimeOnAllHardware</key>
	<true/>
	<key>DSDontWriteNetworkStores</key>
	<true/>
	<key>DUDebugMenuEnabled</key>
	<true/>
	<key>DUShowDetailsInFirstAid</key>
	<true/>
	<key>DUShowEveryPartition</key>
	<true/>
	<key>DataDetectorsSettings</key>
	<dict>
		<key>DefaultCalendarIndex</key>
		<integer>2</integer>
		<key>DefaultCalendarUid</key>
		<string>0ECF3FBC-4983-42E4-8640-B58EC3C524A4</string>
		<key>DefaultTimeZoneNames</key>
		<array>
			<string>US/Pacific</string>
			<string>America/New_York</string>
			<string>America/Los_Angeles</string>
			<string>US/Eastern</string>
		</array>
	</dict>
	<key>DataDetectorsUI</key>
	<dict>
		<key>AlarmTimeInterval</key>
		<integer>-7200</integer>
		<key>DetailedEventMode</key>
		<true/>
	</dict>
	<key>Debug</key>
	<true/>
	<key>DebugMenu</key>
	<true/>
	<key>DebugMode</key>
	<true/>
	<key>DeveloperExtras</key>
	<true/>
	<key>EPSON ET-2750 Series</key>
	<string>1</string>
	<key>EPSON WF-3720 Series</key>
	<string>1</string>
	<key>EPSON WF-4740 Series</key>
	<string>1</string>
	<key>EPSON XP-440 Series</key>
	<string>1</string>
	<key>EnableDebugging</key>
	<true/>
	<key>ExpertMode</key>
	<true/>
	<key>Finder</key>
	<string>/Applications/Quicksilver.app</string>
	<key>Generic Mass Storage</key>
	<string>1</string>
	<key>Generic USB Mass Storage Device</key>
	<string>1</string>
	<key>HP OfficeJet 5200 series</key>
	<string>1</string>
	<key>HP OfficeJet Pro 6970</key>
	<string>1</string>
	<key>HP OfficeJet Pro 7740 series</key>
	<string>1</string>
	<key>HP OfficeJet Pro 8710</key>
	<string>1</string>
	<key>HP OfficeJet Pro 9010 series</key>
	<string>1</string>
	<key>Hewlett Packard M1536dnf MFP</key>
	<string>1</string>
	<key>Hewlett Packard MFP M426fdn</key>
	<string>1</string>
	<key>Hewlett Packard MFP M426fdw</key>
	<string>1</string>
	<key>Hewlett Packard MFP M477fdw</key>
	<string>1</string>
	<key>Hewlett Packard Pro MFP M521dn</key>
	<string>1</string>
	<key>Hewlett-Packard HP LaserJet Pro MFP M127fw</key>
	<string>1</string>
	<key>HockeySDKAutomaticallySendCrashReports</key>
	<true/>
	<key>HowToCheck</key>
	<string>Automatic</string>
	<key>IVR37616 innovera</key>
	<string>1</string>
	<key>IncludeDebugMenu</key>
	<true/>
	<key>IncludeDevelopMenu</key>
	<true/>
	<key>Kingston DataTraveler G3</key>
	<string>1</string>
	<key>Lexmark MX417de</key>
	<string>1</string>
	<key>MarkdownEnabled</key>
	<true/>
	<key>NSApplicationShowExceptions</key>
	<false/>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<true/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
	<key>NSAutomaticWindowAnimationsEnabled</key>
	<false/>
	<key>NSDTData2</key>
	<string>-2087027831</string>
	<key>NSDocumentAutosaveOldDocumentDayThreshold</key>
	<integer>14</integer>
	<key>NSFavoriteStyles</key>
	<dict>
		<key>Bold</key>
		<dict>
			<key>NSFontTrait</key>
			<integer>2</integer>
		</dict>
		<key>First line indented</key>
		<dict>
			<key>NSParagraphStyle</key>
			<data>
			YnBsaXN0MDDUAQIDBAUIVVZUJHRvcFgkb2JqZWN0c1gkdmVyc2lv
			blkkYXJjaGl2ZXLRBgdUcm9vdIABrxASCQoRISUsLzI1ODs+QURH
			Sk1QVSRudWxs0wsMDQ4PEF8QFU5TRmlyc3RMaW5lSGVhZEluZGVu
			dFpOU1RhYlN0b3BzViRjbGFzcyNAPQAAAAAAAIACgBHSEg0TIFpO
			Uy5vYmplY3RzrBQVFhcYGRobHB0eH4ADgAWABoAHgAiACYAKgAuA
			DIANgA6AD4AQ0iINIyRaTlNMb2NhdGlvbiNAPAAAAAAAAIAE0iYn
			KCtYJGNsYXNzZXNaJGNsYXNzbmFtZaIpKllOU1RleHRUYWJYTlNP
			YmplY3RZTlNUZXh0VGFi0iINLSQjQEwAAAAAAACABNIiDTAkI0BV
			AAAAAAAAgATSIg0zJCNAXAAAAAAAAIAE0iINNiQjQGGAAAAAAACA
			BNIiDTkkI0BlAAAAAAAAgATSIg08JCNAaIAAAAAAAIAE0iINPyQj
			QGwAAAAAAACABNIiDUIkI0BvgAAAAAAAgATSIg1FJCNAcYAAAAAA
			AIAE0iINSCQjQHNAAAAAAACABNIiDUskI0B1AAAAAAAAgATSJidO
			T6JPKldOU0FycmF50iYnUVSjUlMqXxAXTlNNdXRhYmxlUGFyYWdy
			YXBoU3R5bGVfEBBOU1BhcmFncmFwaFN0eWxlXxAXTlNNdXRhYmxl
			UGFyYWdyYXBoU3R5bGUSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAI
			ABEAFgAfACgAMgA1ADoAPABRAFcAXgB2AIEAiACRAJMAlQCaAKUA
			sgC0ALYAuAC6ALwAvgDAAMIAxADGAMgAygDMANEA3ADlAOcA7AD1
			AQABAwENARYBIAElAS4BMAE1AT4BQAFFAU4BUAFVAV4BYAFlAW4B
			cAF1AX4BgAGFAY4BkAGVAZ4BoAGlAa4BsAG1Ab4BwAHFAc4B0AHV
			AdgB4AHlAekCAwIWAjACNQAAAAAAAAIBAAAAAAAAAFcAAAAAAAAA
			AAAAAAAAAAJH
			</data>
		</dict>
		<key>Italic</key>
		<dict>
			<key>NSFontTrait</key>
			<integer>1</integer>
		</dict>
		<key>Outlined</key>
		<dict>
			<key>NSStrokeWidth</key>
			<real>3</real>
		</dict>
		<key>Shadowed</key>
		<dict>
			<key>NSShadow</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0
			b3BYJG9iamVjdHNfEA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREl1OU1NoYWRvd0hvcml6ViRj
			bGFzc1xOU1NoYWRvd1ZlcnQiQEAAAIACIsBAAADSFBUWF1gkY2xh
			c3Nlc1okY2xhc3NuYW1lohcYWE5TU2hhZG93WE5TT2JqZWN0CBEb
			JCkyRElMUVNXXWRyeYaLjZKXoKuutwAAAAAAAAEBAAAAAAAAABkA
			AAAAAAAAAAAAAAAAAADA
			</data>
		</dict>
	</dict>
	<key>NSFixedPitchFont</key>
	<string>Monaco</string>
	<key>NSFixedPitchFontSize</key>
	<string>10</string>
	<key>NSFont</key>
	<string>Helvetica</string>
	<key>NSFontPanelSizeSliderParams</key>
	<string>2 8 72</string>
	<key>NSFontSize</key>
	<string>12</string>
	<key>NSHTTPAcceptCookies</key>
	<string>current page</string>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2021-07-23T06:06:15Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>en_GB</string>
		<string>es</string>
		<string>de</string>
		<string>en_US-POSIX</string>
		<string>pt</string>
		<string>fr</string>
		<string>it</string>
		<string>nl</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>it</string>
		<string>de</string>
		<string>fr</string>
		<string>nl</string>
	</array>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileLastListModeForSaveModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForSaveMode2</key>
	<integer>1</integer>
	<key>NSNavPanelSidebarKeyForOpen</key>
	<array>
		<string>SHARED</string>
	</array>
	<key>NSNavPanelSidebarKeyForSave</key>
	<array>
		<string>SHARED</string>
	</array>
	<key>NSNavPreviewExpanded</key>
	<true/>
	<key>NSNavRecentPlaces</key>
	<array>
		<string>~/Library/Preferences</string>
		<string>~/Projects/config.git</string>
		<string>~/.temp/config</string>
		<string>/usr/local/Homebrew/Library/Taps/kde-mac/homebrew-kde</string>
		<string>~/Projects/KDE-tap</string>
	</array>
	<key>NSPersonNameDefaultDisplayNameOrder</key>
	<integer>1</integer>
	<key>NSPersonNameDefaultShortNameFormat</key>
	<integer>0</integer>
	<key>NSPersonNameDefaultShouldPreferNicknamesPreference</key>
	<integer>1</integer>
	<key>NSPreferredSpellServerLanguage</key>
	<string>en_US</string>
	<key>NSPreferredSpellServerVendors</key>
	<dict>
		<key>en</key>
		<string>Apple</string>
		<key>en_AU</key>
		<string>Apple</string>
		<key>en_GB</key>
		<string>Apple</string>
	</dict>
	<key>NSPreferredSpellServers</key>
	<array>
		<array>
			<string>en_GB</string>
			<string>Apple</string>
		</array>
		<array>
			<string>en</string>
			<string>Apple</string>
		</array>
		<array>
			<string>es</string>
			<string>Apple</string>
		</array>
		<array>
			<string>fr</string>
			<string>Apple</string>
		</array>
		<array>
			<string>de</string>
			<string>Apple</string>
		</array>
		<array>
			<string>it</string>
			<string>Apple</string>
		</array>
		<array>
			<string>ru</string>
			<string>Apple</string>
		</array>
		<array>
			<string>da</string>
			<string>Apple</string>
		</array>
		<array>
			<string>nl</string>
			<string>Apple</string>
		</array>
		<array>
			<string>pl_PL</string>
			<string>Open</string>
		</array>
		<array>
			<string>pt_BR</string>
			<string>Apple</string>
		</array>
		<array>
			<string>sv</string>
			<string>Apple</string>
		</array>
	</array>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSScrollViewRubberbanding</key>
	<true/>
	<key>NSSpellCheckerAutomaticallyIdentifiesLanguages</key>
	<true/>
	<key>NSSpellServers</key>
	<array>
		<array>
			<string>en_GB</string>
			<string>Apple</string>
		</array>
		<array>
			<string>en_AU</string>
			<string>Apple</string>
		</array>
		<array>
			<string>en_CA</string>
			<string>Apple</string>
		</array>
		<array>
			<string>en</string>
			<string>Apple</string>
		</array>
		<array>
			<string>es</string>
			<string>Apple</string>
		</array>
		<array>
			<string>fr</string>
			<string>Apple</string>
		</array>
		<array>
			<string>de</string>
			<string>Apple</string>
		</array>
		<array>
			<string>it</string>
			<string>Apple</string>
		</array>
		<array>
			<string>ru</string>
			<string>Apple</string>
		</array>
		<array>
			<string>da</string>
			<string>Apple</string>
		</array>
		<array>
			<string>nl</string>
			<string>Apple</string>
		</array>
		<array>
			<string>pl_PL</string>
			<string>Open</string>
		</array>
		<array>
			<string>pt_BR</string>
			<string>Apple</string>
		</array>
		<array>
			<string>pt_PT</string>
			<string>Apple</string>
		</array>
		<array>
			<string>sv</string>
			<string>Apple</string>
		</array>
	</array>
	<key>NSSystemFont</key>
	<string>LucidaGrande</string>
	<key>NSSystemFontSize</key>
	<string>13</string>
	<key>NSTableViewDefaultSizeMode</key>
	<integer>2</integer>
	<key>NSToolbarTileViewRolloverDelay</key>
	<real>0.0</real>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>CADstream</string>
			<key>with</key>
			<string>CADstream</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>%\begin{macrocode}</string>
			<key>with</key>
			<string>%    \begin{macrocode}</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mayflower</string>
			<key>with</key>
			<string>Mayflower</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>logmeinrescue</string>
			<key>with</key>
			<string>LogMeIn Rescue</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>logmeincentral</string>
			<key>with</key>
			<string>LogMeIn Central</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>HIPAA</string>
			<key>with</key>
			<string>HIPAA</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>beyondtrust</string>
			<key>with</key>
			<string>BeyondTrust</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>bomgar</string>
			<key>with</key>
			<string>Bomgar</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>logmein</string>
			<key>with</key>
			<string>LogMeIn</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>shitshow</string>
			<key>with</key>
			<string>shitshow</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>PACs</string>
			<key>with</key>
			<string>PACS</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>zalgo</string>
			<key>with</key>
			<string>T̤ͦ̽̾ͥō̮̱̓̉͌̿̚ ̀̇̊̈́̑̽ͅí̠͙̠̱͈̞ͮ̃̿̄̋ñ̥̊̈́̐͋ṽ͔̭̚o̪̝͌̑ͯ̔͒̇ǩ̼̲̝̤̻e̻̣̗̥͂͋̿͋̈́ͭ̇́ ̪͔͙̲̼̞̗͒̑̆̏͂͊̄͘th̳͕͚͔̩̻ͦͣͪ̔͞e͓̹̙͕̩̜͑ͥ̓ͩ͜ ̜̼hí̳͕̼̦̙̖̬͆v̬͔̞̩̩̰̎ͬ̀̆̈̂͞e̲̖͓͎̊̔͛̍͂̏ͥ͡-ͮͪͩm̙̖̤̗̦̳͙ͩ͌̍̊͑̐̅͞i̸̱̦͉͈̗̮̮ͤ̍ͪn̞̰̼̯̅̓̋d̟̤̹̫̣̀͗͂̅ ̷͉̝͉̺̯͓̊̅͐̑̈́r̬͙̋̎͛̊͂̎e̜̣̲̺͉̒̅p̫͚̭̮̖̟̈̄́ͫ̇r̴ͫ̓ͅȅ̪̼̫̥͇̪͈̍̆̑̋̉̓́ṣ̠͙̝̯̳̄̈ͦͬ͐ͦ̓e̊͂̅̚͏͙̮̜̣͔̬n̠̹̲ͮẗ̡͕̯̦̬͓̲̼ͮ͗į̒̄̑̊̈́n̥͂g͙̹͆̏̐̚ ̞̙̤͔͐c͗͟ẖǎ͇̠͈̌ͦ̔͌͡ŏ͇͎̳̞̭̤ͨ͛̚͞s͈̠̺͟.̟͉̟̲͙͗ͪ̑̒̌ͯͬ͝
̮̪͕Ï̯̬̤̤̹̞ͪ͢n̜̦̦͙͖͔ͨ͊͐̕v̫̬ͤͥ̐̐͟ő̎ͯk̝͎͗̉́̊͒̒̉͡i͍̦͕̘ͬn̸̬̼̔͋g͔͚̞̲͍͙͚ͭ̄ͨͬ ̤͍̖̜̤̣̌͜t̨͚̬̻͚̜̊ͮͥ̈́h̅͆̉̃͞e̤͔̰̙̙̊̚͝ͅ ̺͓̟̺͆͊f͈͖̺̥̕e͂̿͒̇e̙̝̺̲̻̬̾l͙͍̩͔̋͘ỉ̡̻̖͉̤̰͓ͫ͒̓̆͐ͮn̑̔̀ǵ̵̲͚̐ͨ̈́̑͋ ́̇ͦ̿͂̑͟o̫̤͈̻͙ͩͥ̇͋ͦ̿̑́f̠̅̍ ̫̟͙͙̌̄̓̿͂̅̌c͈̤̼͇h̻͈͂ä́̍̂ͬȯ̱̯̤̬͗̿͒s̮̜̰̰̠͑ͧ͆̊ͪ͌ͨ.̛̤͍͔̝͊̑ͭ̚
̉́W͓̹̞̹̯̤̒i̶̫͖̝͆͂͂͊̈ͤ̔t̫̹̻͍̺̻̮ͦh̵͉̜̙̥̝͌̋ͮͩ̉̉ ̵̥̱̲̻͍͎ͮ͗̿͑̈̄̓ŏ̧̮̭̟͖̯̉ͬ͊̾̓̒u̴̙t̳̰̝̭̊ ̔̓͂҉̭̬̹ő̶̤̰͕͖̉̑̈r̻̦̯̲̪̟͂ͥ͒͑̚ͅd̻̀͗ͤ̾ͧ͝e͍̳͇ͥͭ͛̽r̙̙̹͉͌̍̈͂̀.̴̜̯͚̻̤̊͆
͖̱̠T̖̺͙͆h̟̲̝͓̫͓̉́́̔͗ḙ̤̩͇̩͚͊ͬ͞ ̺̗̯̻̻̾̓͒̎̋̚N̲͕͓̱͚̲̤ͤ̌̐̽̇̐e̯͙̩z͎͖͇̺̰̓͛͂͆̍͡ͅp̟̳ͤͥ̅ͬ͂̅ḙ̪͙̝̮̻̾̌̇̋̈̿̎͝rͧ̈́ͯ̈̍̓̎d̨͕̾ͮͥ̾͂ͬ̎i̦͕͖̟͈͐̆͒̒ͫͫ́ȃ̗̳͔͒n͈̜̦͖̭͋̓ͬ̂̓ ̰̘̤̩͕̠̥̊̒ͫh̶̠̲̣̟̯̋̏i͈͆͊ͨ̈́ͤ̒ͩv̫̥̬ę͎̥̣͚͍ͥ̾̓ͧͅ-̨͌̾̆̂̒̏m̤ͥ͐̾ͩ͐͑̔i̧̍n̙̞͔ͫ̉d̦̋ ͈͈͍̖̋͑ͤ̽͂o̷͔̞͑̉̈́ͩ̿̚f͖̪̖̟͉͈͑̒͐ͬ̈̀ ͔̱͍̝̱̇ͮ̅͌͆ͮ͟c̯͎̜ͮ̔̀̚h͙͔͊͘a͗ͯ͏̻̳͎͔o̢͔͙̗̥̐̍ͧͬ̓ͮs̶̞͍̻̫̽ͩ̈ͅ.̏̈́̊̍̿́͐ͅ ̮̘͓̝̫͈̞̃͞Z̙̫̬̆͐͑a̞̘̙̥ͭ̉̽̀ͨ̆l̢͉̻̜̬͍͎͛ͬg̠̼̬͑o̰̻̤ͨ̆͂̋ͩ̂ͦ.̶̞̋̾̇
̼̬͚̳̲̊̇̂͟H̵̼͎̯̟͇ͅe̼̖̤̮̟͖̰̔̅ͪ ̯̬͓ͭͤ͛̐̎ͨ͆͜w͒̽h̵̺̟̍͐o̧̝̺͉͔̙̟ ̫̦̱̑ͨͤ̿̍̿̚͜Ŵ̩̬̻͇̠̖̓̆ͤa̰̅͆͘i̺͕͖̎͘t͍͓͕̘͝s̞͖͉͂̋̿͝ ̮̥̺B̰͖̩̗͇̟̳͑̋͌̓͊̂͠é͔̦͖̃ͦ͐͒ͦh̗̦̫̼͋͛̆ͧ̒ͣ̚i̵͇̜͚͈̙̤̓̈́̂̈ͤ̄̚n̜̖͕͕̮͌̽ͯ̒͜d͉̺̗̪̗͕̦͆̄̇̀ ͚̫̥̘̤̺̎͆̊͊́Th͐̀͌ͧ͠e̙ͤ ͖̫̲ͫ͌ͨW̞ͭ͗̍ͣ̓͌̍a̟͎̩̙̩̿͑̀l̠͊l̹̦̍͑́͘.̵̰̼̪̠͖͎͎͒
̘̰̮͍͍͙͂Z͔̭̮͚̬͙̰͆ͫͭ̔̿̿͂A̴̱̦̰̲̥̬L̶̩͈̪̘̈́̅ͤ͋ͩ̚Ġ̮͕́O!̣̫̦̖̠̘̥ͮ̐ͧ̕</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Powershell</string>
			<key>with</key>
			<string>PowerShell</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>activex</string>
			<key>with</key>
			<string>ActiveX</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>troulbeshoot</string>
			<key>with</key>
			<string>troubleshoot</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>troulbeshooting</string>
			<key>with</key>
			<string>troubleshooting</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>concerned</string>
			<key>with</key>
			<string>C̳̞͡o̷̪̫n҉̧͇̩̦ͅc͢͏͕͖͓̰͉̭̜̣̤e̬͖̯̮r̶̭̜̯͉n̰͈e̛̹͈̳̖̕d̨̯̲͔̼͙͟</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/5</string>
			<key>with</key>
			<string>⅗</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/8</string>
			<key>with</key>
			<string>⅜</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/8</string>
			<key>with</key>
			<string>⅛</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&lt;3</string>
			<key>with</key>
			<string>♥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>`rose</string>
			<key>with</key>
			<string>🌹</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>!=</string>
			<key>with</key>
			<string>≠</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ppii</string>
			<key>with</key>
			<string>plaintiff</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>caselaw</string>
			<key>with</key>
			<string>caselaw</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>7/8</string>
			<key>with</key>
			<string>⅞</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/4</string>
			<key>with</key>
			<string>¼</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-D</string>
			<key>with</key>
			<string>😆</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-*</string>
			<key>with</key>
			<string>😘</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>4/5</string>
			<key>with</key>
			<string>⅘</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>5/8</string>
			<key>with</key>
			<string>⅝</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>bbrieff</string>
			<key>with</key>
			<string>Facts
Proc Hist
Issue
Rule
Reasoning
Holding
Notes</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>c/o</string>
			<key>with</key>
			<string>℅</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>2/3</string>
			<key>with</key>
			<string>⅔</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/2</string>
			<key>with</key>
			<string>½</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&gt;:-o</string>
			<key>with</key>
			<string>😠</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/5</string>
			<key>with</key>
			<string>⅕</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-(</string>
			<key>with</key>
			<string>😞</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>teh</string>
			<key>with</key>
			<string>the</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>;-)</string>
			<key>with</key>
			<string>😉</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>5/6</string>
			<key>with</key>
			<string>⅚</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>-_-</string>
			<key>with</key>
			<string>😑</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(N)</string>
			<key>with</key>
			<string>👎</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>forebearance</string>
			<key>with</key>
			<string>forbearance</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(Y)</string>
			<key>with</key>
			<string>👍</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-)</string>
			<key>with</key>
			<string>😃</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-!</string>
			<key>with</key>
			<string>😁</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/4</string>
			<key>with</key>
			<string>¾</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/6</string>
			<key>with</key>
			<string>⅙</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ddelta</string>
			<key>with</key>
			<string>defendant</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>2/5</string>
			<key>with</key>
			<string>⅖</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/3</string>
			<key>with</key>
			<string>⅓</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-p</string>
			<key>with</key>
			<string>😜</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-/</string>
			<key>with</key>
			<string>😕</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ithing</string>
			<key>with</key>
			<string>iThing</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>iWatch</string>
			<key>with</key>
			<string>Watch</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>bitch</string>
			<key>with</key>
			<string>bitch</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>fuck</string>
			<key>with</key>
			<string>fuck</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Christmas</string>
			<key>with</key>
			<string>Pagan Winter Festival</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:'(</string>
			<key>with</key>
			<string>😢</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>innout</string>
			<key>with</key>
			<string>In-N-Out</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>o_o</string>
			<key>with</key>
			<string>ಠ_ಠ</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>gunna</string>
			<key>with</key>
			<string>going to</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Nick</string>
			<key>with</key>
			<string>Nick</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Apple</string>
			<key>with</key>
			<string>Apple</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Also</string>
			<key>with</key>
			<string>alsö</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>montypythonholygrail</string>
			<key>with</key>
			<string>Mønti Pythøn ik den Høli Gräilen</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Hyrule</string>
			<key>with</key>
			<string>Hyrule</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>.zZ</string>
			<key>with</key>
			<string>💤</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-p</string>
			<key>with</key>
			<string>😝</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omnom</string>
			<key>with</key>
			<string>om nom nom nom</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Pell</string>
			<key>with</key>
			<string>Pell</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>idevice</string>
			<key>with</key>
			<string>iDevice</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mms</string>
			<key>with</key>
			<string>MMS</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>SMS</string>
			<key>with</key>
			<string>SMS</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Rick</string>
			<key>with</key>
			<string>Rick</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>;-p</string>
			<key>with</key>
			<string>😜</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ong</string>
			<key>with</key>
			<string>OMG</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>riverside</string>
			<key>with</key>
			<string>Riverside</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>sms</string>
			<key>with</key>
			<string>SMS</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ios</string>
			<key>with</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>!?</string>
			<key>with</key>
			<string>‽</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>google</string>
			<key>with</key>
			<string>Google</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>frd</string>
			<key>with</key>
			<string>for:RussianDina</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>fucking</string>
			<key>with</key>
			<string>fucking</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>att</string>
			<key>with</key>
			<string>AT&amp;T</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>shit</string>
			<key>with</key>
			<string>shit</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Mordor</string>
			<key>with</key>
			<string>Mordor</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>crystal</string>
			<key>with</key>
			<string>Crystal</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omg</string>
			<key>with</key>
			<string>OMG</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>gaelicwizard</string>
			<key>with</key>
			<string>gaelicWizard</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>gondor</string>
			<key>with</key>
			<string>Gondor</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Gondor</string>
			<key>with</key>
			<string>Gondor</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>gaelicWizard</string>
			<key>with</key>
			<string>gaelicWizard</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>O_o</string>
			<key>with</key>
			<string>ಠ_ಠ</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>hyppa</string>
			<key>with</key>
			<string>HIPAA</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>HIPPA</string>
			<key>with</key>
			<string>HIPAA</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>pell</string>
			<key>with</key>
			<string>Pell</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Nordstrom</string>
			<key>with</key>
			<string>Nordstrom</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>randy</string>
			<key>with</key>
			<string>Randy</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>`jpb</string>
			<key>with</key>
			<string>jpell@binovia.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Randy</string>
			<key>with</key>
			<string>Randy</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>autocorrect</string>
			<key>with</key>
			<string>autocarrot</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>VMware</string>
			<key>with</key>
			<string>VMware</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(r)</string>
			<key>with</key>
			<string>®</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(tm)</string>
			<key>with</key>
			<string>™</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Spaceballs</string>
			<key>with</key>
			<string>Spaceballs</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>DHCP</string>
			<key>with</key>
			<string>DHCP</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Riverside</string>
			<key>with</key>
			<string>Riverside</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>k`</string>
			<key>with</key>
			<string>contract</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>nothing</string>
			<key>with</key>
			<string>ń̥o҉̙̻̖̲̮͓̩̀t̵̬̳͔ḩ̡̪͇͈i̼̦̮̙͝n̸̸̲̲͍̟g͏̭͖̠̩̭</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>dogfire</string>
			<key>with</key>
			<string>🔥🐶☕️🔥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>also</string>
			<key>with</key>
			<string>alsö</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Easter</string>
			<key>with</key>
			<string>Pagan Fertility Celebration</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>tex</string>
			<key>with</key>
			<string>TeX</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>easter</string>
			<key>with</key>
			<string>Spring Fertility Festival</string>
		</dict>
	</array>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Actual Size</key>
		<string>@0</string>
		<key>Check Document Now</key>
		<string>@~$;</string>
		<key>Check Spelling</key>
		<string>@~^$;</string>
		<key>Cycle Through Windows</key>
		<string>@`</string>
		<key>Double Size</key>
		<string>@2</string>
		<key>Enter Full Screen</key>
		<string>@^f</string>
		<key>Exit Full Screen</key>
		<string>@^f</string>
		<key>Fit to Screen</key>
		<string>@3</string>
		<key>Full Screen</key>
		<string>@^f</string>
		<key>Full Size</key>
		<string>@0</string>
		<key>Max Size</key>
		<string>@3</string>
		<key>Next Slide</key>
		<string>@~]</string>
		<key>Open 1Password</key>
		<string>@~\</string>
		<key>Preferences...</key>
		<string>@,</string>
		<key>Preferences…</key>
		<string>@,</string>
		<key>Previous Slide</key>
		<string>@~[</string>
		<key>Print Document...</key>
		<string>@~p</string>
		<key>Reverse Cycle Through Windows</key>
		<string>@$`</string>
		<key>Save as PDF...</key>
		<string>@p</string>
		<key>Send to Instapaper</key>
		<string>^p</string>
		<key>Special Characters...</key>
		<string>@~^ </string>
		<key>Start speaking</key>
		<string></string>
		<key>System Preferences...</key>
		<string>@;</string>
		<key>System Preferences…</key>
		<string>@;</string>
		<key>Zoom</key>
		<string>@^z</string>
	</dict>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>NSUserReplacementItems</key>
	<array>
		<dict>
			<key>replace</key>
			<string>(c)</string>
			<key>with</key>
			<string>©</string>
		</dict>
		<dict>
			<key>replace</key>
			<string>(r)</string>
			<key>with</key>
			<string>®</string>
		</dict>
		<dict>
			<key>replace</key>
			<string>(p)</string>
			<key>with</key>
			<string>℗</string>
		</dict>
		<dict>
			<key>replace</key>
			<string>TM</string>
			<key>with</key>
			<string>™</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>c/o</string>
			<key>with</key>
			<string>℅</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>...</string>
			<key>with</key>
			<string>…</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>teh</string>
			<key>with</key>
			<string>the</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/2</string>
			<key>with</key>
			<string>½</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/3</string>
			<key>with</key>
			<string>⅓</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>2/3</string>
			<key>with</key>
			<string>⅔</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/4</string>
			<key>with</key>
			<string>¼</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/4</string>
			<key>with</key>
			<string>¾</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/5</string>
			<key>with</key>
			<string>⅕</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>2/5</string>
			<key>with</key>
			<string>⅖</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/5</string>
			<key>with</key>
			<string>⅗</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>4/5</string>
			<key>with</key>
			<string>⅘</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/6</string>
			<key>with</key>
			<string>⅙</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>5/6</string>
			<key>with</key>
			<string>⅚</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>1/8</string>
			<key>with</key>
			<string>⅛</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>3/8</string>
			<key>with</key>
			<string>⅜</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>5/8</string>
			<key>with</key>
			<string>⅝</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>7/8</string>
			<key>with</key>
			<string>⅞</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>forebearance</string>
			<key>with</key>
			<string>forbearance</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>bbrieff</string>
			<key>with</key>
			<string>Facts
Proc Hist
Issue
Rule
Reasoning
Holding
Notes</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ppii</string>
			<key>with</key>
			<string>plaintiff</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ddelta</string>
			<key>with</key>
			<string>defendant</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&lt;3</string>
			<key>with</key>
			<string>♥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>!=</string>
			<key>with</key>
			<string>≠</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>caselaw</string>
			<key>with</key>
			<string>caselaw</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>`rose</string>
			<key>with</key>
			<string>🌹</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-)</string>
			<key>with</key>
			<string>😃</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-(</string>
			<key>with</key>
			<string>😞</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-D</string>
			<key>with</key>
			<string>😆</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-*</string>
			<key>with</key>
			<string>😘</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-!</string>
			<key>with</key>
			<string>😁</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&gt;:-o</string>
			<key>with</key>
			<string>😠</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(Y)</string>
			<key>with</key>
			<string>👍</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>(N)</string>
			<key>with</key>
			<string>👎</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-/</string>
			<key>with</key>
			<string>😕</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>-_-</string>
			<key>with</key>
			<string>😑</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:-p</string>
			<key>with</key>
			<string>😜</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>;-)</string>
			<key>with</key>
			<string>😉</string>
		</dict>
	</array>
	<key>NSWindowResizeTime</key>
	<real>0.10000000149011612</real>
	<key>NSWindowSupportsAutomaticInlineTitle</key>
	<false/>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>NavPanelFileListModeForSaveMode</key>
	<integer>1</integer>
	<key>NavPanelSpotlightSearchScopeMode</key>
	<integer>1</integer>
	<key>PDFAuthor</key>
	<string>John D Pell</string>
	<key>PKSecureElementAvailableFlags</key>
	<integer>1</integer>
	<key>QLEnableXRayFolders</key>
	<true/>
	<key>QuitMenuItem</key>
	<true/>
	<key>Realtek USB 10/100/1000 LAN</key>
	<string>1</string>
	<key>Research In Motion, Ltd. BlackBerry</key>
	<string>1</string>
	<key>SONiX USB DEVICE</key>
	<string>1</string>
	<key>STT EXPRESS RC4</key>
	<string>1</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUIncludeProfile</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>Samsung Portable SSD T5</key>
	<string>1</string>
	<key>SanDisk EXTREME900</key>
	<string>1</string>
	<key>SanDisk Ultra Fit</key>
	<string>1</string>
	<key>SavePasswordsToKeychain</key>
	<true/>
	<key>Seagate Expansion</key>
	<string>1</string>
	<key>ShowDebugMenu</key>
	<true/>
	<key>SoftwareUpdateSubmitUsageInfo</key>
	<true/>
	<key>SyncServicesLog</key>
	<array/>
	<key>SyncServicesLogEverything</key>
	<string>NO</string>
	<key>TP-LINK USB 10/100/1000 LAN</key>
	<string>1</string>
	<key>Texas Instruments TUSB3410 Boot Device</key>
	<string>1</string>
	<key>Texas Instruments TUSB3410 EECo9e Ser</key>
	<string>1</string>
	<key>Texas Instruments TUSB3410 EECode Ser</key>
	<string>1</string>
	<key>UpdateLaunch</key>
	<true/>
	<key>UpdateOnStartup</key>
	<true/>
	<key>WebAutomaticDashSubstitutionEnabled</key>
	<true/>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<true/>
	<key>WebAutomaticTextReplacementEnabled</key>
	<true/>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>WebIconDatabaseDirectoryDefaultsKey</key>
	<string>~/Library/Icons</string>
	<key>WebKitDefaultTextEncodingName</key>
	<string>utf-8</string>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>WebKitDeveloperExtrasEnabledPreferenceKey</key>
	<true/>
	<key>WebKitFullScreenEnabled</key>
	<true/>
	<key>WebKitTextAreasAreResizable</key>
	<true/>
	<key>Western Digital My Passport 0827</key>
	<string>1</string>
	<key>XEROX WorkCentre 4265</key>
	<string>1</string>
	<key>Xerox WorkCentre 3315</key>
	<string>1</string>
	<key>Yubico Security Key by Yubico</key>
	<string>1</string>
	<key>Yubico Yubikey 4 OTP+U2F+CCID</key>
	<string>1</string>
	<key>afp_cleartext_warn</key>
	<true/>
	<key>autoSubmitCrashReports</key>
	<true/>
	<key>autoUpdateEnabled</key>
	<true/>
	<key>automaticallyDownloadsUpdates</key>
	<true/>
	<key>checkForUpdatesAtStartup</key>
	<true/>
	<key>checkForUpdatesOnLaunch</key>
	<true/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.microsoft.OneDrive-mac.FinderSync</key>
			<false/>
			<key>com.resilio.Sync.FinderExtension</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.microsoft.OneDrive-mac.FinderSync</key>
			<array>
				<string>file:///Users/pellican/OneDrive%20-%20Mayflower%20IT/</string>
			</array>
			<key>com.resilio.Sync.FinderExtension</key>
			<array>
				<string>file:///Users/pellican/Sync/INVIA_CBD/</string>
				<string>file:///Users/pellican/Sync/Torrents/</string>
				<string>file:///Users/pellican/Sync/Baseline/</string>
				<string>file:///Users/pellican/Projects/MayflowerScripts/</string>
				<string>file:///Users/pellican/Sync/Bakdump/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Redstone%204/</string>
				<string>file:///Users/pellican/Sync/BRUCE2011-PC/</string>
				<string>file:///Users/pellican/Tools/</string>
				<string>file:///Users/pellican/Sites/</string>
				<string>file:///Users/pellican/Pictures/</string>
				<string>file:///Users/pellican/Sync/PolicyDefinitions/</string>
				<string>file:///Users/pellican/Sync/ir.webm/</string>
				<string>file:///Users/pellican/Downloads/</string>
				<string>file:///Users/pellican/Sync/WIMs/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Threshold%202/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Redstone%203/</string>
				<string>file:///Users/pellican/Sync/Software/</string>
				<string>file:///Users/pellican/Music/</string>
				<string>file:///Users/pellican/Movies/</string>
				<string>file:///Users/pellican/Sync/SWsetup/</string>
				<string>file:///Users/pellican/Sync/Controller/</string>
				<string>file:///Users/pellican/Sync/Ajr5,4/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Redstone%205/</string>
				<string>file:///Users/pellican/Sync/Pellz/</string>
				<string>file:///Users/pellican/Backups/</string>
				<string>file:///Users/pellican/Library/Containers/com.apple.iChat/Data/Library/Messages/Archive/</string>
				<string>file:///Users/pellican/Sync/WDSUnattend/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Redstone%202/</string>
				<string>file:///Users/pellican/Sync/Hyper-ISOs/</string>
				<string>file:///Users/pellican/Sync/WDS%20Images/Threshold%201/</string>
				<string>file:///Users/pellican/Sync/j5s/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.keyboard.fnState</key>
	<false/>
	<key>com.apple.mouse.ignoreTrackpadIfMousePresent</key>
	<integer>1</integer>
	<key>com.apple.mouse.scaling</key>
	<real>0.875</real>
	<key>com.apple.mouse.tapBehavior</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.device.threshold</key>
	<integer>30554325</integer>
	<key>com.apple.springing.delay</key>
	<real>1</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.enableSecondaryClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>0.875</real>
	<key>com.apple.trackpad.scrollBehavior</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threshold</key>
	<real>0.32174968719482422</real>
	<key>disable-elastic-scroll</key>
	<false/>
	<key>disableNewDocumentsAtStartup</key>
	<true/>
	<key>encoding</key>
	<string>UTF-8</string>
	<key>growlNotifications</key>
	<true/>
	<key>performUpdatesCheck</key>
	<true/>
	<key>useGrowl</key>
	<true/>
	<key>useNickNameIfPresent</key>
	<true/>
	<key>useSpellChecking</key>
	<true/>
	<key>userMenuExtraStyle</key>
	<integer>0</integer>
</dict>
</plist>
