<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavBrowserPreferedColumnContentWidth</key>
	<real>186</real>
	<key>NSNavLastRootDirectory</key>
	<string>/Applications</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{519, 400}</string>
	<key>NSNavSidebarWidth</key>
	<real>117</real>
</dict>
</plist>
