<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABBirthDayVisible</key>
	<true/>
	<key>ABCleanWindowController-MainCleanWindow-groupList</key>
	<dict>
		<key>selectedGroupEntryIdentifier</key>
		<string>ABAccountBrowsingGroupEntry:(null)</string>
	</dict>
	<key>ABCleanWindowController-MainCleanWindow-personListController</key>
	<dict>
		<key>selectedUIDs</key>
		<array>
			<string>1DCA4EA3-3465-4D08-894F-0EE0F994CE54:ABPerson</string>
		</array>
	</dict>
	<key>ABDefaultSourceID</key>
	<string>EE02107C-A475-4939-859E-1B0D6167EDDC</string>
	<key>ABMetaDataChangeCount</key>
	<integer>416</integer>
	<key>ABMetadataLastOilChange</key>
	<date>2026-09-14T23:13:06Z</date>
	<key>ABTextSizeIncrement</key>
	<integer>2</integer>
	<key>ABVersion</key>
	<integer>1419</integer>
	<key>NSSplitView Subview Frames ABCleanWindowController-MainCleanWindow</key>
	<array>
		<string>0.000000, 0.000000, 223.000000, 398.000000, YES, NO</string>
		<string>0.000000, 0.000000, 459.500000, 438.000000, NO, NO</string>
		<string>460.500000, 0.000000, 460.500000, 438.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame ABCleanWindowController-MainCleanWindow</key>
	<string>245 110 931 438 0 0 2240 1230 </string>
</dict>
</plist>
