<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveRemoteConnections</key>
	<array/>
	<key>AutosaveHistory</key>
	<integer>0</integer>
	<key>BatteryInfoOpen</key>
	<false/>
	<key>DisableSleepWarnings</key>
	<false/>
	<key>DisplayAbsoluteHistoryTimes</key>
	<false/>
	<key>DockValueMode</key>
	<integer>1</integer>
	<key>ExtremeValuesWindowOpen</key>
	<false/>
	<key>FloatingWindowOpen</key>
	<false/>
	<key>GraphsZoomValueRange</key>
	<false/>
	<key>HistoryWindowsOpen</key>
	<false/>
	<key>KnownRemoteConnections</key>
	<dict/>
	<key>MBSSpecialAutosave-FloatingWindow</key>
	<string>300 300</string>
	<key>MBSSpecialAutosave-StandardWindow</key>
	<string>64 229</string>
	<key>MachinePreferences</key>
	<dict>
		<key>UV415H4ZQJP</key>
		<dict>
			<key>AlertObjectPath</key>
			<string></string>
			<key>AlertOpensObject</key>
			<false/>
			<key>AlertOpensPanel</key>
			<true/>
			<key>AlertPlaySound</key>
			<true/>
			<key>AlertSendsGrowl</key>
			<false/>
			<key>AlertUsesVoice</key>
			<false/>
			<key>AvailableGauges</key>
			<dict>
				<key>hwsensor.AppleADT746x.0</key>
				<dict>
					<key>Color</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAB
					hg==
					</data>
					<key>CustomName</key>
					<string>Power Supply/Memory Bottomside</string>
					<key>FormatStyle</key>
					<integer>1</integer>
					<key>HighThreshold</key>
					<real>75</real>
					<key>HighTriggerEnabled</key>
					<true/>
					<key>LowThreshold</key>
					<real>10</real>
					<key>LowTriggerEnabled</key>
					<false/>
					<key>MachineSerial</key>
					<string>UV415H4ZQJP</string>
					<key>SensorEnabled</key>
					<true/>
					<key>ShortName</key>
					<string>POWER</string>
					<key>SpokenName</key>
					<string>Power Supply/Memory Bottomside</string>
				</dict>
				<key>hwsensor.AppleADT746x.1</key>
				<dict>
					<key>Color</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAB
					hg==
					</data>
					<key>CustomName</key>
					<string>Processor Bottomside</string>
					<key>FormatStyle</key>
					<integer>1</integer>
					<key>HighThreshold</key>
					<real>75</real>
					<key>HighTriggerEnabled</key>
					<true/>
					<key>LowThreshold</key>
					<real>10</real>
					<key>LowTriggerEnabled</key>
					<false/>
					<key>MachineSerial</key>
					<string>UV415H4ZQJP</string>
					<key>SensorEnabled</key>
					<true/>
					<key>ShortName</key>
					<string>PROCE</string>
					<key>SpokenName</key>
					<string>Processor Bottomside</string>
				</dict>
				<key>hwsensor.AppleADT746x.2</key>
				<dict>
					<key>Color</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAB
					hg==
					</data>
					<key>CustomName</key>
					<string>Graphics Processor Die</string>
					<key>FormatStyle</key>
					<integer>1</integer>
					<key>HighThreshold</key>
					<real>75</real>
					<key>HighTriggerEnabled</key>
					<true/>
					<key>LowThreshold</key>
					<real>10</real>
					<key>LowTriggerEnabled</key>
					<false/>
					<key>MachineSerial</key>
					<string>UV415H4ZQJP</string>
					<key>SensorEnabled</key>
					<true/>
					<key>ShortName</key>
					<string>GRAPH</string>
					<key>SpokenName</key>
					<string>Graphics Processor Die</string>
				</dict>
				<key>hwsensor.ApplePMU.3</key>
				<dict>
					<key>Color</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAB
					hg==
					</data>
					<key>CustomName</key>
					<string>Battery</string>
					<key>FormatStyle</key>
					<integer>1</integer>
					<key>HighThreshold</key>
					<real>75</real>
					<key>HighTriggerEnabled</key>
					<true/>
					<key>LowThreshold</key>
					<real>10</real>
					<key>LowTriggerEnabled</key>
					<false/>
					<key>MachineSerial</key>
					<string>UV415H4ZQJP</string>
					<key>SensorEnabled</key>
					<true/>
					<key>ShortName</key>
					<string>BATTE</string>
					<key>SpokenName</key>
					<string>Battery</string>
				</dict>
				<key>smart.ST9808210A.3LG08688</key>
				<dict>
					<key>Color</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAB
					hg==
					</data>
					<key>CustomName</key>
					<string>SMART Disk ST9808210A (3LG08688)</string>
					<key>FormatStyle</key>
					<integer>1</integer>
					<key>HighThreshold</key>
					<real>75</real>
					<key>HighTriggerEnabled</key>
					<true/>
					<key>LowThreshold</key>
					<real>10</real>
					<key>LowTriggerEnabled</key>
					<false/>
					<key>MachineSerial</key>
					<string>UV415H4ZQJP</string>
					<key>SensorEnabled</key>
					<true/>
					<key>ShortName</key>
					<string>SMART</string>
					<key>SpokenName</key>
					<string>SMART Disk ST9808210A (3LG08688)</string>
				</dict>
			</dict>
			<key>DockSensors</key>
			<array>
				<string>hwsensor.AppleADT746x.2</string>
			</array>
			<key>DockTextColor</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYCXRleHRDb2xvcoaEk5UDhAJmZgABhoY=
			</data>
			<key>DockTextUsesDefaultColors</key>
			<true/>
			<key>DockUsesTextDisplay</key>
			<false/>
			<key>DontCheckForOutdatedSensorNames</key>
			<false/>
			<key>FloatingWindowFontName</key>
			<string>LucidaGrande</string>
			<key>FloatingWindowFontRatio</key>
			<real>2.4000000953674316</real>
			<key>FloatingWindowForegroundColor</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQAAAYY=
			</data>
			<key>FloatingWindowHasShadow</key>
			<true/>
			<key>FloatingWindowSensors</key>
			<array>
				<string>hwsensor.ApplePMU.3</string>
				<string>hwsensor.AppleADT746x.2</string>
				<string>hwsensor.AppleADT746x.0</string>
				<string>hwsensor.AppleADT746x.1</string>
				<string>smart.ST9808210A.3LG08688</string>
			</array>
			<key>FloatingWindowTransparency</key>
			<real>1</real>
			<key>FloatingWindowUsesForegroundColor</key>
			<true/>
			<key>FloatingWindowVertical</key>
			<false/>
			<key>FloatingWindwoFontSize</key>
			<real>24</real>
			<key>HistoryWindows</key>
			<array>
				<dict>
					<key>GraphBackgroundColor</key>
					<data>
					BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0Nv
					bG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECE
					hIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaY
					FXdpbmRvd0JhY2tncm91bmRDb2xvcoaEk5UD
					hAJmZoM/AAAAAYaG
					</data>
					<key>HistoryWindowName</key>
					<string>Temperature Sensors</string>
					<key>HistoryWindowSensors</key>
					<array>
						<string>hwsensor.AppleADT746x.0</string>
						<string>hwsensor.AppleADT746x.1</string>
						<string>hwsensor.AppleADT746x.2</string>
						<string>hwsensor.ApplePMU.3</string>
						<string>smart.ST9808210A.3LG08688</string>
					</array>
					<key>OpenAtLaunch</key>
					<false/>
					<key>OpenInLongTermMode</key>
					<false/>
					<key>OpenInZoomedOutMode</key>
					<false/>
					<key>ScaleSliderPosition</key>
					<real>1</real>
				</dict>
			</array>
			<key>LCDModules</key>
			<dict/>
			<key>LocalProbes</key>
			<array/>
			<key>MenuBarFontName</key>
			<string>LucidaGrande</string>
			<key>MenuBarFontSize</key>
			<real>14</real>
			<key>MenuBarSensors</key>
			<array>
				<string>hwsensor.ApplePMU.3</string>
				<string>hwsensor.AppleADT746x.2</string>
				<string>hwsensor.AppleADT746x.0</string>
				<string>hwsensor.AppleADT746x.1</string>
				<string>smart.ST9808210A.3LG08688</string>
			</array>
			<key>MenuBarShowsShortNames</key>
			<true/>
			<key>MenuBarUsesColor</key>
			<false/>
			<key>ScreenWindowAlignment</key>
			<integer>1</integer>
			<key>ScreenWindowIsBackdrop</key>
			<false/>
			<key>ScreenWindowIsFixed</key>
			<false/>
			<key>StandardWindowAlignment</key>
			<integer>1</integer>
			<key>StandardWindowBackgroundColor</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYFXdpbmRvd0JhY2tncm91bmRDb2xvcoaEk5UDhAJmZoM/AAAA
			AYaG
			</data>
			<key>StandardWindowFontName</key>
			<string>LucidaGrande</string>
			<key>StandardWindowFontRatio</key>
			<real>2.4000000953674316</real>
			<key>StandardWindowFontSize</key>
			<real>24</real>
			<key>StandardWindowForegroundColor</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYEGNvbnRyb2xUZXh0Q29sb3KGhJOVA4QCZmYAAYaG
			</data>
			<key>StandardWindowSensors</key>
			<array>
				<string>hwsensor.ApplePMU.3</string>
				<string>hwsensor.AppleADT746x.2</string>
				<string>hwsensor.AppleADT746x.0</string>
				<string>hwsensor.AppleADT746x.1</string>
				<string>smart.ST9808210A.3LG08688</string>
			</array>
			<key>StandardWindowUsesForegroundColor</key>
			<true/>
			<key>TalkDeltaValue</key>
			<real>0.10000000149011612</real>
			<key>TalkInIntervals</key>
			<false/>
			<key>TalkIntervalMultiplier</key>
			<integer>10</integer>
			<key>TalkOnCustomizedDelta</key>
			<false/>
			<key>TalkSensorNames</key>
			<false/>
			<key>TalkSensors</key>
			<array>
				<string>hwsensor.AppleADT746x.2</string>
			</array>
			<key>Triggers</key>
			<array/>
			<key>WindowsVertical</key>
			<false/>
		</dict>
	</dict>
	<key>MenuBarValueMode</key>
	<integer>1</integer>
	<key>NSTableView Columns SensorSourceTable2</key>
	<array>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBlNlbnNvcoY=
		</data>
		<string>129</string>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCFR5cGVJY29uhg==
		</data>
		<string>21</string>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBFR5cGWG
		</data>
		<string>91</string>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCENvbXB1dGVyhg==
		</data>
		<string>10</string>
	</array>
	<key>NSTableView Sort Ordering SensorSourceTable2</key>
	<array/>
	<key>NSWindow Frame FloatingWindow</key>
	<string>300 200 100 100 0 0 1024 746 </string>
	<key>NSWindow Frame PreferenceWindow</key>
	<string>196 114 620 482 0 0 1024 746 </string>
	<key>NSWindow Frame StandardWindow</key>
	<string>64 134 954 95 0 0 1024 746 </string>
	<key>NoX86DialogVersionCode</key>
	<integer>0</integer>
	<key>OverviewOpen</key>
	<true/>
	<key>PreferencesVersion</key>
	<integer>2</integer>
	<key>ReconnectClientsAtLaunchTime</key>
	<true/>
	<key>SMARTUppdateInterval</key>
	<integer>60</integer>
	<key>SeenModels</key>
	<dict>
		<key>PowerBook6,5</key>
		<array>
			<dict>
				<key>HostOrComputerName</key>
				<string>Emily.local.ucr.edu</string>
				<key>SerialNumber</key>
				<string>UV415H4ZQJP</string>
			</dict>
		</array>
	</dict>
	<key>SensorWindowOpen</key>
	<true/>
	<key>ShowPositiveBatteryCurrents</key>
	<true/>
	<key>SystemInfoOpen</key>
	<false/>
	<key>TemperatureUnit</key>
	<integer>0</integer>
	<key>UpdateInterval</key>
	<integer>2</integer>
	<key>VoiceMode</key>
	<integer>1</integer>
</dict>
</plist>
