<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Command1Through9SwitchesTabs</key>
	<false/>
	<key>CommandHistory</key>
	<array>
		<string>bash</string>
		<string>zsh</string>
		<string>/bin/sh</string>
		<string>pwsh</string>
		<string>env</string>
		<string>/bin/bash --login</string>
		<string>/bin/bash</string>
	</array>
	<key>Default Window Settings</key>
	<string>Red Sands</string>
	<key>DefaultProfilesVersion</key>
	<integer>1</integer>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>Man Page Window Settings</key>
	<string>Man Page</string>
	<key>NSColorPanelMode</key>
	<string>5</string>
	<key>NSColorPanelVisibleSwatchRows</key>
	<integer>1</integer>
	<key>NSFontPanelAttributes</key>
	<string>1, 12</string>
	<key>NSNavBrowserPreferedColumnContentWidth</key>
	<real>186</real>
	<key>NSNavLastRootDirectory</key>
	<string>~/OneDrive - Mayflower IT</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{743, 400}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{755, 554}</string>
	<key>NSNavSidebarWidth</key>
	<real>120</real>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 255.000000, 357.000000, NO, NO</string>
		<string>0.000000, 358.000000, 255.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 TTInspectorProcesses</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAkCwwbJicoKSorLDI8PT5I
	SUpUVVZgYWtsbXd4eYOEhY+QmpucVSRudWxs0g0ODxpaTlMub2JqZWN0c1YkY2xhc3Oq
	EBESExQVFhcYGYACgAqADYAQgBOAFYAYgBuAHoAggCPTHA0OHSElV05TLmtleXOjHh8g
	gAOABIAFoyIjJIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuVEtpbmQjQC4A
	AAAAAAAI0i0uLzBaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiLzFYTlNP
	YmplY3TTHA0OMzclox4fIIADgASABaM4OSSAC4AMgAiACVxEaXNwbGF5IE5hbWUjQGNA
	AAAAAADTHA0OP0Mlox4fIIADgASABaNERSSADoAPgAiACVNQSUQjQEaAAAAAAADTHA0O
	S08lox4fIIADgASABaNQRVKAEYAPgBKACVRQUElECdMcDQ5XWyWjHh8ggAOABIAFo1xF
	UoAUgA+AEoAJVFBHSUTTHA0OYmYlox4fIIADgASABaNnaFKAFoAXgBKACVRFVUlEI0BB
	gAAAAAAA0xwNDm5yJaMeHyCAA4AEgAWjc3RSgBmAGoASgAlZVXNlciBOYW1lI0BLgAAA
	AAAA0xwNDnp+JaMeHyCAA4AEgAWjf4BSgByAHYASgAlTVFRZI0BJAAAAAAAA0xwNDoaK
	JaMeHyCAA4AEgAWji2hSgB+AF4ASgAlaRm9yZWdyb3VuZNMcDQ6RlSWjHh8ggAOABIAF
	o5aXUoAhgCKAEoAJVlN0YXR1cyNATgAAAAAAANItLp2eXk5TTXV0YWJsZUFycmF5o52f
	MVdOU0FycmF5AAgAEQAaACQAKQAyADcASQBMAFIAVAB7AIEAhgCRAJgAowClAKcAqQCr
	AK0ArwCxALMAtQC3ALkAwADIAMwAzgDQANIA1gDYANoA3ADeAOkA7wD2APsBBAEFAQoB
	FQEeASsBLgE3AT4BQgFEAUYBSAFMAU4BUAFSAVQBYQFqAXEBdQF3AXkBewF/AYEBgwGF
	AYcBiwGUAZsBnwGhAaMBpQGpAasBrQGvAbEBtgG3Ab4BwgHEAcYByAHMAc4B0AHSAdQB
	2QHgAeQB5gHoAeoB7gHwAfIB9AH2AfsCBAILAg8CEQITAhUCGQIbAh0CHwIhAisCNAI7
	Aj8CQQJDAkUCSQJLAk0CTwJRAlUCXgJlAmkCawJtAm8CcwJ1AncCeQJ7AoYCjQKRApMC
	lQKXApsCnQKfAqECowKqArMCuALHAssAAAAAAAACAQAAAAAAAACgAAAAAAAAAAAAAAAA
	AAAC0w==
	</data>
	<key>NSTableView Sort Ordering v2 TTInspectorProcesses</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 TTInspectorProcesses</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>ShellNew WindowPowerShell</key>
		<string>@p</string>
	</dict>
	<key>NSWindow Frame ConnectToServerWindow</key>
	<string>182 870 422 428 0 0 3440 1415 </string>
	<key>NSWindow Frame NSColorPanel</key>
	<string>367 258 255 214 0 0 1680 1027 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>2588 0 755 554 0 0 3440 1415 </string>
	<key>NSWindow Frame New Command Panel</key>
	<string>222 23 499 128 0 0 3440 1415 </string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>1245 861 667 554 0 0 3440 1415 </string>
	<key>NSWindow Frame TTFindPanel</key>
	<string>35 0 483 144 0 0 1280 778 </string>
	<key>NSWindow Frame TTInspector</key>
	<string>1040 925 281 490 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>2325 812 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Basic</key>
	<string>32 7 802 365 0 0 1680 1027 </string>
	<key>NSWindow Frame TTWindow Grass</key>
	<string>315 0 934 371 0 0 1440 875 </string>
	<key>NSWindow Frame TTWindow Homebrew</key>
	<string>1404 0 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Man Page</key>
	<string>270 676 949 739 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Novel</key>
	<string>71 157 949 366 0 0 1280 778 </string>
	<key>NSWindow Frame TTWindow Ocean</key>
	<string>1405 0 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow PowerShell</key>
	<string>2491 0 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Pro</key>
	<string>239 0 934 365 0 0 1680 1027 </string>
	<key>NSWindow Frame TTWindow Red Sands</key>
	<string>1027 111 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Rose Aerogel</key>
	<string>657 134 934 365 0 0 1680 1027 </string>
	<key>NSWindow Frame TTWindow Silver Aerogel</key>
	<string>1453 897 949 371 0 0 3440 1415 </string>
	<key>NSWindow Frame TTWindow Solid Colors</key>
	<string>84 312 934 365 0 0 1680 1027 </string>
	<key>NewTabSettingsBehavior</key>
	<integer>1</integer>
	<key>NewTabWorkingDirectoryBehavior</key>
	<integer>1</integer>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PreviousCommands</key>
	<array>
		<string>ssh -p 22 Kiwi.38390288.members.btmm.icloud.com.</string>
		<string>ssh -p 22 Dinas-iMac.local.</string>
		<string>ssh -p 22 Strawberry.38390288.members.btmm.icloud.com.</string>
		<string>ssh -p 22 Lotus.38390288.members.btmm.icloud.com.</string>
		<string>ssh -p 22 armitage.38390288.members.btmm.icloud.com.</string>
		<string>ssh -p 22 Sarah.johnpell.members.mac.com.</string>
		<string>ssh -p 22 pellican@GeniusRoom-1.johnpell.members.mac.com.</string>
	</array>
	<key>ProcessTableShowSmartNamesAndArguments</key>
	<integer>1</integer>
	<key>ProfileCurrentVersion</key>
	<real>2.0699999999999998</real>
	<key>SecureKeyboardEntry</key>
	<false/>
	<key>Shell</key>
	<string>~/Tools/screenAppAttach.sh</string>
	<key>ShowTabBar</key>
	<false/>
	<key>Startup Window Group</key>
	<string>7w</string>
	<key>Startup Window Settings</key>
	<string>Homebrew</string>
	<key>StartupAction</key>
	<integer>1</integer>
	<key>StringEncodings</key>
	<array>
		<integer>4</integer>
	</array>
	<key>TTAppPreferences Selected Tab</key>
	<integer>1</integer>
	<key>TTInspector Selected Pane</key>
	<string>Info</string>
	<key>Window Groups</key>
	<array/>
	<key>Window Settings</key>
	<dict>
		<key>Basic</key>
		<dict>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Basic</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAgMC4wNzQ1MDk4MDcgMC40NjY2NjY3IDAuMjM5
			MjE1NwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Nv
			bG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36ho6Wqtb7G
			yQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADS
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAYMC41NTY4NjI3NyAwLjE1Njg2Mjc1IDAAEAKA
			AtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhO
			U09iamVjdAgRGiQpMjdJTFFTV11kand+mZudoq22vsEAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1dDb3VyaWVy
			0hcYGRpaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiGRtYTlNP
			YmplY3QIERokKTI3SUxRU1heZ253foWOkJKUnKGstby/AAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC43MTM3MjU1MSAwLjI4NjI3NDUyIDAuMTQ5
			MDE5NjEAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAXMSAwLjY5MDE5NjEgMC4yMzEzNzI1NwAQAoAC
			0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5T
			T2JqZWN0CBEaJCkyN0lMUVNXXWRqd36YmpyhrLW9wAAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAYMSAwLjk0MTE3NjUzIDAuNjQ3MDU4ODQAEAKA
			AtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhO
			U09iamVjdAgRGiQpMjdJTFFTV11kand+mZudoq22vsEAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Grass</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Homebrew</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NNMCAwLjg5OTk5OTk4ABADgALSFBUWF1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERok
			KTI3SUxRU1ddZGx5gI6Qkpeiq7O2AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4yMTk2MDc4NiAwLjk5NjA3ODQ5IDAuMTUy
			OTQxMTgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1pBbmRhbGVN
			b25v0hcYGRpaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiGRtY
			TlNPYmplY3QIERokKTI3SUxRU1heZ253foWOkJKUn6SvuL/CAAAA
			AAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC4wMzQ1NzgzOTUgMCAwLjkxMzI2NTMxIDAu
			NjUAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzRjAgMSAwABABgALSFBUWF1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1dd
			ZGp3foWHiY6ZoqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAiMC4xNTY4NjI3NSAwLjk5NjA3ODQ5IDAuMDc4
			NDMxMzc1ABACgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqOlp6y3
			wMjLAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANQ=
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Homebrew</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Man Page</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAmMC45OTYwNzg0OTEyIDAuOTU2ODYyODA3MyAw
			LjYxMTc2NDcyOQAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36n
			qauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollAlternateScreen</key>
			<true/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC43NSAwLjcyMDQ3MjQ0NDUgMC40NjA2Mjk5
			MTEAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjAA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjAA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Man Page</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>rowCount</key>
			<integer>48</integer>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAaMC44NzUgMC44NTc5ODM2NSAwLjc2NTYyNQAQ
			AoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYY
			WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAqMC4yMjc0NTEgMC4xMzcyNTQ5MSAwLjEzMzMz
			MzM0IDAuNjQ5OTk5OTgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNs
			YXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11k
			and+q62vtL/I0NMAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1dDb3VyaWVy
			0hcYGRpaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiGRtYTlNP
			YmplY3QIERokKTI3SUxRU1heZ253foWOkJKUnKGstby/AAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAsMC40NTQwODE2NSAwLjQ1MTAwNDg5IDAuMzE1
			MTQzOTEgMC43NTk5OTk5OQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNX
			XWRqd36tr7G2wcrS1QAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAbMC41IDAuMTY0MzAwNTUgMC4wOTkxNDU0NzIA
			EAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIW
			GFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+nJ6gpbC5wcQAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4yMzMxNzMxMiAwLjEzNTQwODU3IDAuMTMy
			OTA2MDgAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Novel</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Ocean</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4xMzIwNTYyNCAwLjMwODQ3ODU2IDAuNzM5
			MTMwNDQAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollAlternateScreen</key>
			<true/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAXMC4xMzA3MzkzIDAuNDI4NDU4MDYgMQAQAYAC
			0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5T
			T2JqZWN0CBEaJCkyN0lMUVNXXWRqd36YmpyhrLW9wAAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Ocean</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>PowerShell</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4xMzIwNTYyNCAwLjMwODQ3ODU2IDAuNzM5
			MTMwNDQAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>CommandString</key>
			<string>/usr/local/bin/pwsh -l -wd ~</string>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>RunCommandAsShell</key>
			<true/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAXMC4xMzA3MzkzIDAuNDI4NDU4MDYgMQAQAYAC
			0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5T
			T2JqZWN0CBEaJCkyN0lMUVNXXWRqd36YmpyhrLW9wAAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>WindowTitle</key>
			<string>PowerShell</string>
			<key>columnCount</key>
			<integer>132</integer>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>PowerShell</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Pro</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NNMCAwLjg1MDAwMDAyABADgALSFBUWF1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERok
			KTI3SUxRU1ddZGx5gI6Qkpeiq7O2AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NLMC4zMDI0MTkzNgAQA4AC0hQVFhdaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCky
			N0lMUVNXXWRseYCMjpCVoKmxtAAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJAAAAAAAABAQgAKAA1ZNb25hY2/S
			FxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIZG1hOU09i
			amVjdAgRGiQpMjdJTFFTWF5nbnd+hY6QkpSboKu0u74AAAAAAAAB
			AQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NLMC4yNTQwMzIyNQAQA4AC0hQVFhdaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCky
			N0lMUVNXXWRseYCMjpCVoKmxtAAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NLMC45NDc1ODA2NAAQA4AC0hQVFhdaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCky
			N0lMUVNXXWRseYCMjpCVoKmxtAAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Pro</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Red Sands</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAsMC40NzgyNjA4NyAwLjE0NTEwNDM2IDAuMTE2
			ODgxMjEgMC44NTAwMDAwMgAQAYAC0hQVFhdaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNX
			XWRqd36tr7G2wcrS1QAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRs
			eYCDhYeMl6CoqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>CursorType</key>
			<integer>1</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAjMC4yMzc5MDMyMSAwLjA5NzYwMTMzOSAwLjA4
			NzQzNDUyMwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dO
			U0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36kpqit
			uMHJzAAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAcMC44NzUgMC43NDAzODg0NSAwLjEzMjEzODcz
			ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3Ki
			FhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC44NDMxMzczMiAwLjc4ODIzNTM3IDAuNjU0
			OTAxOTgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Red Sands</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Silver Aerogel</key>
		<dict>
			<key>BackgroundAlphaInactive</key>
			<real>0.5</real>
			<key>BackgroundBlur</key>
			<real>1</real>
			<key>BackgroundBlurInactive</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzSDAu
			NSAwLjUAEAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3Nu
			YW1lWCRjbGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3Bh
			Y2VYTlNPYmplY3TSGhshIldOU0NvbG9yoiEfAAgAEQAaACQAKQAy
			ADcASQBMAFEAUwBZAF8AaABwAH0AkgCZAKIApACmAKgArQCyALQA
			tgC7AMYAzwDcAN8A7AD1APoBAgAAAAAAAAIBAAAAAAAAACMAAAAA
			AAAAAAAAAAAAAAEF
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREldOU1doaXRlXE5TQ29sb3JT
			cGFjZVYkY2xhc3NFMC44NQAQA4AC0hQVFhdaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNX
			XWRseYCGiIqPmqOrrgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAAC3
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAkMC4zOTQ0MzAwNzExIDAuMzk5NjQ2Njk5NCAw
			LjU0MDQyODQAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNX
			TlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+paep
			rrnCys0AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA1g==
			</data>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjEA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjAA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Silver Aerogel</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Solid Colors</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjEA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>BackgroundImageBookmark</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwRVSRudWxs0g0ODxBXTlMuZGF0YVYkY2xhc3NPEQHo
			Ym9va+gBAAAAAAEQEAAAAEwBAAAHAAAAAQEAAExpYnJhcnkAEAAA
			AAEBAABEZXNrdG9wIFBpY3R1cmVzDAAAAAEBAABTb2xpZCBDb2xv
			cnMMAAAAAQYAAAQAAAAUAAAALAAAAAgAAAAEAwAALYA2AwAAAAAI
			AAAABAMAANrTOAMAAAAACAAAAAQDAACX1DgDAAAAAAwAAAABBgAA
			VAAAAGQAAAB0AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
			AAAAAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAAAAoA
			AAAIAAAAAAQAAEGwJ0VyAAAAJAAAAAEBAAAzNTkwMUY0RC1ENUU1
			LTNBOTgtQjgwMy03NzBDNDVBOUQwNkMYAAAAAQIAAIEAAAABAAgA
			7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAhAAA
			AP7///8BAAAAAAAAAAoAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAA
			AAAQEAAAmAAAAAAAAAACIAAAOAEAAAAAAAAQIAAAuAAAAAAAAAAR
			IAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA3AAAAAAAAAAgIAAA
			GAEAAAAAAAAwIAAARAEAAAAAAACAAtISExQVWiRjbGFzc25hbWVY
			JGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMUFhdWTlNEYXRhWE5TT2Jq
			ZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBXAF0AYgBqAHECXQJf
			AmQCbwJ4AoYCigKRAAAAAAAAAgEAAAAAAAAAGAAAAAAAAAAAAAAA
			AAAAApo=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzRTAu
			NzUAEAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1l
			WCRjbGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VY
			TlNPYmplY3TSGhshIldOU0NvbG9yoiEfAAgAEQAaACQAKQAyADcA
			SQBMAFEAUwBZAF8AaABwAH0AkgCZAJ8AoQCjAKUAqgCvALEAswC4
			AMMAzADZANwA6QDyAPcA/wAAAAAAAAIBAAAAAAAAACMAAAAAAAAA
			AAAAAAAAAAEC
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAJgAAAAAAABAQgAKAA15TRk1vbm8t
			UmVndWxhctIXGBkaWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250
			ohkbWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmdud36FjpCSlKOos7zD
			xgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<true/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTabTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TerminalType</key>
			<string>nsterm</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjAA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGlCwwVGSBVJG51bGzUDQ4PEBESExRXTlNXaGl0ZVxOU0Nv
			bG9yU3BhY2VfEBJOU0N1c3RvbUNvbG9yU3BhY2VWJGNsYXNzQjAA
			EAOAAoAE0hYQFxhUTlNJRBACgAPSGhscHVokY2xhc3NuYW1lWCRj
			bGFzc2VzXE5TQ29sb3JTcGFjZaIeH1xOU0NvbG9yU3BhY2VYTlNP
			YmplY3TSGhshIldOU0NvbG9yoiEfCBEaJCkyN0lMUVNZX2hwfZKZ
			nJ6goqesrrC1wMnW2ebv9PwAAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>columnCount</key>
			<integer>132</integer>
			<key>name</key>
			<string>Solid Colors</string>
			<key>noWarnProcesses</key>
			<array>
				<dict>
					<key>ProcessName</key>
					<string>screen</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>tmux</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>pwsh</string>
				</dict>
				<dict>
					<key>ProcessName</key>
					<string>zsh</string>
				</dict>
			</array>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
