<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Software\Blizzard Entertainment\Battle.net\A1F1F8E7F0DCC081\SelectedGameAccount</key>
	<data>
	4GvJHihhvM4Bdeluz6/hjw==
	</data>
	<key>Software\Blizzard Entertainment\Battle.net\DirtyCacheIndex</key>
	<integer>1</integer>
	<key>Software\Blizzard Entertainment\Battle.net\WoW\LastPortal-enUS</key>
	<string>us</string>
</dict>
</plist>
