<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AB21vCardEncoding</key>
	<string>macintosh</string>
	<key>AB21vCardEncoding-localized</key>
	<string>MACINTOSH</string>
	<key>ABAIMInstantVisible</key>
	<true/>
	<key>ABAddressesVisible</key>
	<true/>
	<key>ABAvery StandardDefaultEntry</key>
	<integer>-1</integer>
	<key>ABBirthDayVisible</key>
	<true/>
	<key>ABBonjourSharingEnabled</key>
	<integer>1</integer>
	<key>ABBonjourShowLocalServer</key>
	<true/>
	<key>ABBookWindowController-MainBookWindow</key>
	<dict>
		<key>windowMinWidth</key>
		<real>600</real>
	</dict>
	<key>ABBookWindowController-MainBookWindow-bookContentView</key>
	<dict>
		<key>displayMode</key>
		<integer>1</integer>
	</dict>
	<key>ABBookWindowController-MainBookWindow-contentView</key>
	<dict>
		<key>splitViewDividerPosition</key>
		<real>216</real>
	</dict>
	<key>ABBookWindowController-MainBookWindow-groupList</key>
	<dict>
		<key>selectedGroupEntryIdentifier</key>
		<string>ABGroupBrowsingGroupEntry:CC2F3CD8-6936-4406-A424-3C8E1A73F65F:ABSmartGroup</string>
	</dict>
	<key>ABBookWindowController-MainBookWindow-personListController</key>
	<dict>
		<key>selectedUIDs</key>
		<array>
			<string>044506BC-7784-415B-B4DA-E81A7118A062:ABPerson</string>
		</array>
	</dict>
	<key>ABBookWindowController-MainBookWindow-windowLayoutState</key>
	<dict>
		<key>displayMode</key>
		<integer>0</integer>
	</dict>
	<key>ABCardPaneFrame</key>
	<string>{{471, 0}, {430, 234}}</string>
	<key>ABCleanWindowController-MainCleanWindow-groupList</key>
	<dict>
		<key>selectedGroupEntryIdentifier</key>
		<string>ABAccountBrowsingGroupEntry:(null)</string>
	</dict>
	<key>ABCleanWindowController-MainCleanWindow-personListController</key>
	<dict>
		<key>selectedUIDs</key>
		<array>
			<string>64749A7C-140A-41C6-A468-880E1EEA3695:ABPerson</string>
		</array>
	</dict>
	<key>ABCleanWindowController-MainCleanWindow-splitViewController</key>
	<dict>
		<key>contactsPaneWidth</key>
		<real>295.5</real>
		<key>groupsPaneHidden</key>
		<false/>
		<key>groupsPaneWidth</key>
		<real>171</real>
	</dict>
	<key>ABCustomEnvelopeDefinitions</key>
	<array/>
	<key>ABCustomLabelDefinitions</key>
	<array/>
	<key>ABDatesVisible</key>
	<false/>
	<key>ABDefaultAddressCountryCode</key>
	<string>us</string>
	<key>ABDefaultLayout</key>
	<integer>0</integer>
	<key>ABDefaultSelectedGroup</key>
	<string>AF3BB453-0C3F-4537-A768-02E33878A0F4:ABSmartGroup</string>
	<key>ABDefaultSelectedMember</key>
	<string>C72A074F-E0DB-40FF-AFDD-F00B1B3E697F:ABPerson</string>
	<key>ABDefaultSourceID</key>
	<string>ACA9B33C-B9DA-4841-A445-BE1D847C8082</string>
	<key>ABDepartmentVisible</key>
	<true/>
	<key>ABDirectoriesPaneFrame</key>
	<string>{{471, 0}, {430, 234}}</string>
	<key>ABDirectoryResultColumnTitle</key>
	<string>Email</string>
	<key>ABDirectoryServicesSearchable</key>
	<false/>
	<key>ABEmailsVisible</key>
	<true/>
	<key>ABGroupsPaneFrame</key>
	<string>{{0, 0}, {227, 234}}</string>
	<key>ABHomePageVisible</key>
	<true/>
	<key>ABICQInstantVisible</key>
	<false/>
	<key>ABImportTipCards</key>
	<true/>
	<key>ABIncludeNotesInVCard</key>
	<false/>
	<key>ABIncludePhotosInVCard</key>
	<true/>
	<key>ABInitialInstantMessageServiceKeys</key>
	<array>
		<string>AIMInstant</string>
	</array>
	<key>ABInitialLabelsAIMInstant</key>
	<array>
		<string>_$!&lt;Home&gt;!$_</string>
	</array>
	<key>ABInitialLabelsAddress</key>
	<array>
		<string>_$!&lt;Home&gt;!$_</string>
		<string>_$!&lt;Work&gt;!$_</string>
	</array>
	<key>ABInitialLabelsEmail</key>
	<array>
		<string>_$!&lt;Home&gt;!$_</string>
		<string>school</string>
		<string>_$!&lt;Work&gt;!$_</string>
	</array>
	<key>ABInitialLabelsInstantMessage</key>
	<array>
		<string>_$!&lt;Home&gt;!$_</string>
	</array>
	<key>ABInitialLabelsPhone</key>
	<array>
		<string>_$!&lt;Home&gt;!$_</string>
		<string>_$!&lt;Mobile&gt;!$_</string>
		<string>_$!&lt;Work&gt;!$_</string>
	</array>
	<key>ABInitialLabelsRelatedRecords</key>
	<array>
		<string>_$!&lt;Friend&gt;!$_</string>
	</array>
	<key>ABInitialLabelsSocialProfile</key>
	<array>
		<string>Twitter</string>
	</array>
	<key>ABInitialLabelsURLs</key>
	<array>
		<string>_$!&lt;HomePage&gt;!$_</string>
	</array>
	<key>ABJabberInstantVisible</key>
	<false/>
	<key>ABJobTitleVisible</key>
	<true/>
	<key>ABLastImportShown</key>
	<true/>
	<key>ABLastLabelSection</key>
	<string>5161</string>
	<key>ABLastSelectedEnvelopeLayout</key>
	<string>DL</string>
	<key>ABMSNInstantVisible</key>
	<false/>
	<key>ABMaidenameVisible</key>
	<false/>
	<key>ABMailNotificationEnabled</key>
	<false/>
	<key>ABMainWindowViewMode</key>
	<integer>0</integer>
	<key>ABMainWindowViewMode-cardCol</key>
	<real>351</real>
	<key>ABMainWindowViewMode-contactCol</key>
	<real>230</real>
	<key>ABMainWindowViewMode-sourceCol</key>
	<real>305</real>
	<key>ABMembersPaneFrame</key>
	<string>{{228, 0}, {242, 234}}</string>
	<key>ABMetaDataChangeCount</key>
	<integer>30197</integer>
	<key>ABMetadataLastOilChange</key>
	<date>2021-09-04T20:38:05Z</date>
	<key>ABMiddlenameVisible</key>
	<true/>
	<key>ABNameDisplay</key>
	<integer>0</integer>
	<key>ABNameSorting</key>
	<integer>1</integer>
	<key>ABNameSortingFormat</key>
	<string>sortingLastName sortingFirstName</string>
	<key>ABNicknameVisible</key>
	<true/>
	<key>ABPeopleAlternatePaneWidth</key>
	<integer>0</integer>
	<key>ABPeopleColumnsWidth</key>
	<real>160</real>
	<key>ABPhoneFormat-Edited</key>
	<false/>
	<key>ABPhoneFormat-Enabled</key>
	<true/>
	<key>ABPhoneFormat-PhoneFormatter</key>
	<array>
		<string>+1 (###) ###-####</string>
		<string>1 (###) ###-####</string>
		<string>(###) ###-####</string>
		<string>###-####</string>
	</array>
	<key>ABPhonesVisible</key>
	<true/>
	<key>ABPhoneticFieldsVisible</key>
	<false/>
	<key>ABPrivateVCardFields</key>
	<dict>
		<key>ABRelatedNames.3A279AE2-3A8D-4440-A965-8B2A955EDE42</key>
		<true/>
		<key>ABRelatedNames.49A2E325-48BB-4D22-8A2D-4E438BE611F9</key>
		<true/>
		<key>ABRelatedNames.6139A498-03DF-4F66-9DC1-42BAF2F7EEF4</key>
		<true/>
		<key>ABRelatedNames.A334C40F-9566-42AB-BBEF-A9C62A6B326E</key>
		<true/>
		<key>ABRelatedNames.B83FCA75-E600-4DBA-A3A8-2C92F9E5DCCD</key>
		<true/>
		<key>ABRelatedNames.CA594B19-5D2D-4466-B422-526EED944191</key>
		<true/>
		<key>ABRelatedNames.E5AEF3FA-9BB7-4F2B-BCA2-BD7A205DE7A9</key>
		<true/>
		<key>Address.4C5B8992-CBD8-4149-94C4-D22831410B95</key>
		<true/>
		<key>Address.5A4B12BF-3832-4ADC-BABE-C48C71B390C9</key>
		<true/>
		<key>Address.6BC65AD8-56D6-4A83-9AA8-7A0FA219A8F1</key>
		<true/>
		<key>Address.6C42033D-AD63-4326-92CB-2E82E71851A3</key>
		<true/>
		<key>Address.73FC593D-A4BE-430A-B792-F3CB9451640D</key>
		<true/>
		<key>Address.7ED1F5A4-8ECB-4DA1-87B2-6DBF5E60517D</key>
		<true/>
		<key>Address.83E687F5-D9A8-4343-9B7C-7CA211EDC0FD</key>
		<true/>
		<key>Address.9FF1957B-D36C-4E84-9E86-3CBC1E115001</key>
		<true/>
		<key>Address.A1575AC7-5DAE-48D3-94D0-5FA1ED55AD28</key>
		<true/>
		<key>Address.A1CAF7C5-787F-4419-9E33-089DBE2EA732</key>
		<true/>
		<key>Address.AA574F2C-EC65-4722-85F1-ABB821E3BAB8</key>
		<true/>
		<key>Address.EF9656CD-AC65-4E1E-9FA3-68289FFF517A</key>
		<true/>
		<key>BirthdayComponents.CF1F100A-6631-4039-A8CF-2187D3E466B1:ABPerson</key>
		<true/>
		<key>Email.11E2BE06-B0FA-40AB-BBCE-A997DB682897</key>
		<true/>
		<key>Email.1C674D1E-3AE6-4A72-AF99-2D3B9874F66C</key>
		<true/>
		<key>Email.2D297C68-1129-4EBF-87A3-A6B301E658C1</key>
		<true/>
		<key>Email.2E7B53FA-BA6C-44F2-85E8-67409C13353F</key>
		<true/>
		<key>Email.3D256120-9D6C-44D0-B338-00842F7B5D8E</key>
		<true/>
		<key>Email.45D17C0B-6CC7-4AA0-B758-7638BC5DCC14</key>
		<true/>
		<key>Email.45F0E3B4-A0A9-48BE-9A2D-3D8B9FE3E01F</key>
		<true/>
		<key>Email.6692B135-3876-41BD-9997-88F71A1EB9A6</key>
		<true/>
		<key>Email.748560AE-0B0C-4FD9-95BC-5DFE99912C63</key>
		<true/>
		<key>Email.9AEE3084-960E-4137-91F3-0561B26CE041</key>
		<true/>
		<key>Email.A4B984C8-9030-4FE0-81BD-998C18C15FB5</key>
		<true/>
		<key>Email.B242B9DE-E372-4881-950F-E9AE765EF4B8</key>
		<true/>
		<key>Email.CE248C04-EF30-4C34-914B-DC24C1F97DE9</key>
		<true/>
		<key>Email.D413A2E4-A49D-4705-B0E2-452354D97259</key>
		<true/>
		<key>Email.E9B9E912-2643-427E-A26A-536D4965A368</key>
		<true/>
		<key>InstantMessage.1D843B2A-EAB9-48DB-BB10-00F47C9F8085</key>
		<true/>
		<key>InstantMessage.2F7A1E85-8A40-47A6-B944-D2B0A72BD928</key>
		<true/>
		<key>InstantMessage.38131471-D815-40CB-B19A-D693CF1A070E</key>
		<true/>
		<key>InstantMessage.455FAD57-99D5-4F77-8412-F6CA4BE92394</key>
		<true/>
		<key>InstantMessage.B71CB1B0-3BEF-491F-81CA-EC11DD36A683</key>
		<true/>
		<key>InstantMessage.BB9F77FC-05BB-415F-A54A-D9F15C53567F</key>
		<true/>
		<key>InstantMessage.FA0CF5DE-CBC0-41D1-A3EC-11ED9D84F3E8</key>
		<true/>
		<key>Phone.37DC29EA-E6AA-44FD-B3ED-0F8EB120F55D</key>
		<true/>
		<key>Phone.91524F60-B5A4-4691-AD54-09982D2A0B90</key>
		<true/>
		<key>Phone.B3F11719-1CC3-405A-814F-1EA727E7A6DF</key>
		<true/>
		<key>Phone.DD248027-8618-4EFE-9697-7018CA858540</key>
		<true/>
		<key>SocialProfile.4B2CC228-014C-4AFE-AE2E-C4168BF971E3</key>
		<true/>
		<key>SocialProfile.83CA22CD-4A7D-4503-841E-919D1CA6D0B6</key>
		<true/>
		<key>SocialProfile.9FDB31B2-04D1-44AD-BA7C-BE9ABA1957CA</key>
		<true/>
		<key>SocialProfile.CD9CF19A-4B45-4ECF-BF97-3719E0E4C471</key>
		<true/>
		<key>URLs.4ED2771B-0556-4A77-9E91-08677F542115</key>
		<true/>
	</dict>
	<key>ABPrivateVCardFieldsEnabled</key>
	<true/>
	<key>ABRelatedRecordsVisible</key>
	<true/>
	<key>ABSelectedPrintStyle</key>
	<integer>2</integer>
	<key>ABSeparateWindowsFrames</key>
	<array/>
	<key>ABSeparateWindowsHiddenUIDs</key>
	<array/>
	<key>ABSeparateWindowsUIDs</key>
	<array/>
	<key>ABSocialProfilesVisible</key>
	<true/>
	<key>ABSuffixVisible</key>
	<false/>
	<key>ABTextSizeFixed</key>
	<true/>
	<key>ABTextSizeIncrement</key>
	<integer>2</integer>
	<key>ABTitleVisible</key>
	<false/>
	<key>ABURLsVisible</key>
	<true/>
	<key>ABVersion</key>
	<integer>1419</integer>
	<key>ABYahooInstantVisible</key>
	<false/>
	<key>CalSuccessfulLaunchTimestampPreferenceKey</key>
	<real>379454272</real>
	<key>IKPictureTakerLocation</key>
	<string>{300, 200}</string>
	<key>NSNavBrowserPreferedColumnContentWidth</key>
	<real>186</real>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{841, 400}</string>
	<key>NSNavSidebarWidth</key>
	<real>120</real>
	<key>NSPreferencesContentSize</key>
	<string>{524, 271}</string>
	<key>NSPreferencesSelectedIndex</key>
	<integer>0</integer>
	<key>NSSplitView Subview Frames ABCleanWindowController-MainCleanWindow</key>
	<array>
		<string>0.000000, 0.000000, 247.000000, 524.000000, NO, NO</string>
		<string>248.000000, 0.000000, 269.000000, 524.000000, NO, NO</string>
		<string>518.000000, 0.000000, 442.000000, 524.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames main split view</key>
	<array>
		<string>0.000000, 0.000000, 305.000000, 378.000000, NO</string>
		<string>306.000000, 0.000000, 230.000000, 378.000000, NO</string>
		<string>537.000000, 0.000000, 351.000000, 378.000000, NO</string>
	</array>
	<key>NSToolbar Configuration NSPreferences</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame AB Main Window</key>
	<string>71 59 888 423 0 0 1280 778 </string>
	<key>NSWindow Frame ABBookWindowController-MainBookWindow</key>
	<string>835 44 1016 513 0 0 1920 1058 </string>
	<key>NSWindow Frame ABCard:1234B53D-E8CC-45BF-8851-E73E79DC8AF0:ABPerson</key>
	<string>45 1078 337 319 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:13B0008C-0850-4459-A429-F923CB175927:ABPerson</key>
	<string>1700 642 337 366 1680 -390 3440 1418 </string>
	<key>NSWindow Frame ABCard:13D082C6-69A1-458B-A98B-ABD76180F69E:ABPerson</key>
	<string>45 443 337 565 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:1A10D5EB-657E-4146-B27E-B17CDBF20BF3:ABPerson</key>
	<string>-631 2154 337 294 -651 1050 3440 1418 </string>
	<key>NSWindow Frame ABCard:1A407428-1A89-4DF1-9D70-79100637F7B6:ABPerson</key>
	<string>402 1010 337 387 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:1B95ABAE-014A-4481-9114-F932889A030E:ABPerson</key>
	<string>45 1039 337 358 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:25B227D7-0F62-4ADA-AAC4-8EFA48BC1908:ABPerson</key>
	<string>45 987 337 410 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:393408EE-E2F1-44F1-B819-B1198F2010DB:ABPerson</key>
	<string>45 1024 337 373 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:3F0D2D2E-9141-48D7-85E4-16F35771CCD2:ABPerson</key>
	<string>402 1019 337 378 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:43753F1F-5BC8-4F2A-99A6-8C5619DD1A8C:ABPerson</key>
	<string>1116 1095 337 302 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:462D7CB4-06BA-43F9-872C-971EBE0FA58C:ABPerson</key>
	<string>52 537 337 318 0 0 1440 875 </string>
	<key>NSWindow Frame ABCard:4CB78865-DDBA-4F23-A5E9-87188C33944F:ABPerson</key>
	<string>759 1078 337 319 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:4D0FA8B3-B7FB-4B89-92E4-CEAF53586F75:ABPerson</key>
	<string>402 1025 337 372 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:4D605569-3FFA-4C59-90BF-C9538FC49F99:ABPerson</key>
	<string>402 1006 337 391 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:521FEFE6-B00E-430E-8711-C1CEC9244462:ABPerson</key>
	<string>55 12 337 746 0 0 1280 778 </string>
	<key>NSWindow Frame ABCard:5C48965A-9019-4B65-A375-B7382BD1A708:ABPerson</key>
	<string>402 747 337 260 0 0 1680 1027 </string>
	<key>NSWindow Frame ABCard:617B3128-33A6-45F0-BC58-6658249E81C9:ABPerson</key>
	<string>45 556 567 452 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:62749D1A-AAF2-4A6A-B5B3-A022003C94DE:ABPerson</key>
	<string>1830 1137 337 260 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:66D27B8D-535D-48CE-AB7C-6DB8B9514D59:ABPerson</key>
	<string>54 431 337 327 0 0 1280 778 </string>
	<key>NSWindow Frame ABCard:8204D1C6-7D51-4F0B-A5EB-E554D1FE1A67:ABPerson</key>
	<string>1473 1119 337 278 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:88DE2F91-9854-4C77-8667-8EE94980917F:ABPerson</key>
	<string>45 1019 337 378 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:8F6979F7-2389-479B-9F70-AB6918DF4D0C:ABPerson</key>
	<string>402 998 337 399 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:9E240524-4856-42EA-BFCD-F867B02C16F1:ABPerson</key>
	<string>45 642 337 366 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:C2286732-BC73-4A3B-A78C-AA9945476C9A:ABPerson</key>
	<string>55 -186 337 944 0 0 1280 778 </string>
	<key>NSWindow Frame ABCard:C42B10F9-3401-46FD-B13C-27FEF6BEA596:ABPerson</key>
	<string>1116 1107 337 290 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:C76658DB-A714-47AB-89B0-E9EDCEFDA353:ABPerson</key>
	<string>45 513 532 494 0 0 1680 1027 </string>
	<key>NSWindow Frame ABCard:CF1F100A-6631-4039-A8CF-2187D3E466B1:ABPerson</key>
	<string>173 0 337 1028 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:D30064C2-641D-4ADB-A9B8-AD0F982C0B6E:ABPerson</key>
	<string>45 706 337 302 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:DDAF7939-DD48-498A-8802-9B405AF9D34A:ABPerson</key>
	<string>45 1010 337 387 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:E43B0A88-73E8-49CF-AF33-1DEA7E90D811:ABPerson</key>
	<string>411 1021 337 396 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:E4F40B39-EE16-4BBC-B0EF-85DDEA842003:ABPerson</key>
	<string>45 1119 337 278 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:E5B91F67-3F59-4B3A-BC13-73953BB6E0DF:ABPerson</key>
	<string>73 1044 337 373 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:E76CD00F-5093-421D-8C12-633E5C19DA09:ABPerson</key>
	<string>45 734 337 273 0 0 1680 1027 </string>
	<key>NSWindow Frame ABCard:EB63D9F1-02AF-41FB-8CE0-C5988954CE3B:ABPerson</key>
	<string>402 748 337 260 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCard:FB2A2507-01DD-45D3-9A67-8311DA566D42:ABPerson</key>
	<string>759 1119 337 278 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCard:FBBC9787-C309-4AE4-B44A-639FDFBD3148:ABPerson</key>
	<string>45 505 465 502 0 0 1680 1027 </string>
	<key>NSWindow Frame ABCard:FE0D4055-ADDA-477D-B72D-F402F88B6A58:ABPerson</key>
	<string>759 1137 337 260 0 0 3440 1417 </string>
	<key>NSWindow Frame ABCardViewer</key>
	<string>345 571 360 477 0 0 1680 1028 </string>
	<key>NSWindow Frame ABCleanWindowController-MainCleanWindow</key>
	<string>480 342 960 524 0 0 1440 875 </string>
	<key>NSWindow Frame ABDistributionList</key>
	<string>254 31 683 446 0 0 1280 778 </string>
	<key>NSWindow Frame ABPersonCardWindow</key>
	<string>474 296 337 250 0 0 1440 875 </string>
	<key>NSWindow Frame ABWindow</key>
	<string>68 9 901 312 0 0 1280 778 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>754 147 841 422 0 0 1680 1027 </string>
	<key>NSWindow Frame Preferences</key>
	<string>1153 1116 524 299 0 0 3440 1415 </string>
	<key>NSWindow Frame smart group panel</key>
	<string>2626 330 648 225 0 0 3440 1417 </string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>PrintDialogName</key>
	<string>SimplePrintDialog</string>
	<key>groupSD</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKcHCA4WFxgfVSRudWxs0gkKCwxWJGNsYXNzWk5TLm9iamVjdHOABqENgALUDxAJ
	ERITFBVVTlNLZXlaTlNTZWxlY3RvcltOU0FzY2VuZGluZ4ADgASABQlUbmFtZV8QGWxv
	Y2FsaXplZFN0YW5kYXJkQ29tcGFyZTrSGRobHFokY2xhc3NuYW1lWCRjbGFzc2VzXxAQ
	TlNTb3J0RGVzY3JpcHRvcqIdHl8QEE5TU29ydERlc2NyaXB0b3JYTlNPYmplY3TSGRog
	IVdOU0FycmF5oiAeXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0A
	MgA3AD8ARQBKAFEAXABeAGAAYgBrAHEAfACIAIoAjACOAI8AlACwALUAwADJANwA3wDy
	APsBAAEIAQsBHQEgASUAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABJw==
	</data>
	<key>peopleSD</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGKyxYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKoHCA8XGBkgJSYnVSRudWxs0gkKCwxWJGNsYXNzWk5TLm9iamVjdHOACaINDoAC
	gAbUEBEJEhMUFRZVTlNLZXlaTlNTZWxlY3RvcltOU0FzY2VuZGluZ4ADgASABQlfEA9z
	b3J0aW5nTGFzdE5hbWVfEBlsb2NhbGl6ZWRTdGFuZGFyZENvbXBhcmU60hobHB1aJGNs
	YXNzbmFtZVgkY2xhc3Nlc18QEE5TU29ydERlc2NyaXB0b3KiHh9fEBBOU1NvcnREZXNj
	cmlwdG9yWE5TT2JqZWN01BARCRIhIhUWgAeACIAFCV8QEHNvcnRpbmdGaXJzdE5hbWVf
	EBlsb2NhbGl6ZWRTdGFuZGFyZENvbXBhcmU60hobKCleTlNNdXRhYmxlQXJyYXmjKCof
	V05TQXJyYXlfEA9OU0tleWVkQXJjaGl2ZXLRLS5Ucm9vdIABAAgAEQAaACMALQAyADcA
	QgBIAE0AVABfAGEAZABmAGgAcQB3AIIAjgCQAJIAlACVAKcAwwDIANMA3ADvAPIBBQEO
	ARcBGQEbAR0BHgExAU0BUgFhAWUBbQF/AYIBhwAAAAAAAAIBAAAAAAAAAC8AAAAAAAAA
	AAAAAAAAAAGJ
	</data>
</dict>
</plist>
