<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InactiveLoginItems</key>
	<array/>
	<key>LastOpenPane</key>
	<string>DockLeopard</string>
	<key>MainWindowTopLeftPosition</key>
	<string>{107, 755}</string>
	<key>UserHasSeenWelcomeMessage</key>
	<true/>
</dict>
</plist>
