<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame x11_apps</key>
	<string>2229 1116 454 299 0 0 3440 1415 </string>
	<key>NSWindow Frame x11_prefs</key>
	<string>665 928 484 336 0 0 3440 1415 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2021-07-21T04:08:45Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2021-07-19T20:49:37Z</date>
	<key>app_to_run</key>
	<string>xlogo -render -shape</string>
	<key>apps_menu</key>
	<array>
		<array>
			<string>Terminal</string>
			<string>xterm ~/Tools/screenAppAttach.sh</string>
			<string>n</string>
		</array>
		<array>
			<string>xman</string>
			<string>xman</string>
			<string></string>
		</array>
		<array>
			<string>xlogo</string>
			<string>xlogo</string>
			<string></string>
		</array>
		<array>
			<string>ZSH</string>
			<string>xterm zsh</string>
			<string></string>
		</array>
		<array>
			<string>PStree</string>
			<string>pstree|less</string>
			<string></string>
		</array>
	</array>
	<key>cache_fonts</key>
	<true/>
	<key>done_xinit_check</key>
	<true/>
	<key>enable_fake_buttons</key>
	<true/>
	<key>enable_iglx</key>
	<string>https://gitlab.freedesktop.org/xorg/xserver/-/commit/d0da0e9c3bb8fe0cd4879ecb24d21715bfaa209b</string>
	<key>login_shell</key>
	<string>/bin/bash</string>
	<key>no_auth</key>
	<false/>
	<key>nolisten_tcp</key>
	<true/>
	<key>option_sends_alt</key>
	<false/>
	<key>startx_script</key>
	<string>/opt/X11/bin/xinit</string>
	<key>sync_keymap</key>
	<true/>
	<key>wm_click_through</key>
	<false/>
	<key>wm_ffm</key>
	<false/>
	<key>wm_path</key>
	<string>/usr/local/bin/wmaker</string>
</dict>
</plist>
