<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>1336 725 800 448 0 0 3440 1415 </string>
</dict>
</plist>
