<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePressAndHoldEnabled</key>
	<string>NO</string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 411 434 133 0 0 3440 1415 </string>
</dict>
</plist>
